In [1]:
import pandas as pd 
import numpy as np
import os
os.chdir('../')

In [5]:
movies = pd.read_csv('data/ml-latest-small/movies.csv')
tags = pd.read_csv('data/ml-latest-small/tags.csv')

In [6]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [9]:
print(movies['genres'].iloc[0].split('|'))
print(movies['genres'].iloc[1].split('|'))
print(movies['genres'].iloc[2].split('|'))
print(movies['genres'].iloc[3].split('|'))

['Adventure', 'Animation', 'Children', 'Comedy', 'Fantasy']
['Adventure', 'Children', 'Fantasy']
['Comedy', 'Romance']
['Comedy', 'Drama', 'Romance']

In [22]:
def jaccard_similarity(x,y): 
    x = set(x)
    y = set(y)
    int = x.intersection(y)
    union = x.union(y)
    return len(int)/len(union)

In [16]:
jaccard_similarity

0.6

In [ ]:
def extract_genres(recommendations):
    genre_series = movies[movies['movieId'].isin(recommendations)]['genres']
    genre_list = [genre_series.iloc[i].split('|') for i in range(len(genre_series))]
    return genre_list


def genre_homogeneity(genre_lists):

    similarities = []

    for i in range(len(genre_lists)-1):
        for j in range(1,len(genre_lists)):
            similarities.append(jaccard_similarity(genre_lists[i],genre_lists[j]))

    return np.mean(np.array(similarities))

In [ ]:
recommendations = [1,2,3,4]

In [37]:
genre_list

[['Adventure', 'Animation', 'Children', 'Comedy', 'Fantasy'],
 ['Adventure', 'Children', 'Fantasy'],
 ['Comedy', 'Romance'],
 ['Comedy', 'Drama', 'Romance']]

In [38]:
genre_homogeneity(genre_list)

0.39735449735449735

In [39]:
tags.head()

   userId  movieId              tag   timestamp
0       2    60756            funny  1445714994
1       2    60756  Highly quotable  1445714996
2       2    60756     will ferrell  1445714992
3       2    89774     Boxing story  1445715207
4       2    89774              MMA  1445715200

In [42]:
tags.groupby('movieId').head()

      userId  movieId               tag   timestamp
0          2    60756             funny  1445714994
1          2    60756   Highly quotable  1445714996
2          2    60756      will ferrell  1445714992
3          2    89774      Boxing story  1445715207
4          2    89774               MMA  1445715200
...      ...      ...               ...         ...
3677     606     6107      World War II  1178473747
3678     606     7382         for katie  1171234019
3679     606     7936           austere  1173392334
3680     610     3265            gun fu  1493843984
3681     610     3265  heroic bloodshed  1493843978

[2851 rows x 4 columns]

In [43]:
tags[tags['movieId']==60756]

     userId  movieId              tag   timestamp
0         2    60756            funny  1445714994
1         2    60756  Highly quotable  1445714996
2         2    60756     will ferrell  1445714992
205      62    60756           comedy  1528934384
206      62    60756            funny  1528934381
207      62    60756     will ferrell  1528934379
909     424    60756            funny  1457846127
910     424    60756     will ferrell  1457846129

In [44]:
len(movies)

9742

In [48]:
import random


def generate_random_lists(num_lists = 9742,
                        min_length = 1,
                        max_length = 4,
                        min_value = 0,
                        max_value = 200):

    # Generate the lists
    result = []
   
    
    for _ in range(num_lists):
        # Generate random length for this list
        length = random.randint(min_length, max_length)
        
        # Generate list with random values
        random_list = [random.randint(min_value, max_value) for _ in range(length)]
        result.append(random_list)
    

    
    # Basic statistics about the generated lists
    total_numbers = sum(len(lst) for lst in result)
    avg_length = total_numbers / num_lists
    print(f"Average list length: {avg_length:.2f}")
    print(f"Total numbers generated: {total_numbers}")
    
    return result

In [49]:
l = generate_random_lists()

Average list length: 2.49
Total numbers generated: 24290

In [51]:
movies['actors'] = l

In [53]:
movies['director'] = [random.randint(1, 200) for _ in range(9742)]

In [54]:
movies.head()

,movieId,title,genres,actors,director
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,[66],62
1,2,Jumanji (1995),Adventure|Children|Fantasy,"[23, 11]",129
2,3,Grumpier Old Men (1995),Comedy|Romance,[179],164
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,"[71, 79, 1]",167
4,5,Father of the Bride Part II (1995),Comedy,"[67, 36, 8, 127]",59

In [55]:
movies.to_csv('data/new_movies.csv',index=False)

### help

In [2]:
movies = pd.read_csv('data/new_movies.csv')

In [3]:
movies.head()

,movieId,title,genres,actors,director
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,[66],62
1,2,Jumanji (1995),Adventure|Children|Fantasy,"[23, 11]",129
2,3,Grumpier Old Men (1995),Comedy|Romance,[179],164
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,"[71, 79, 1]",167
4,5,Father of the Bride Part II (1995),Comedy,"[67, 36, 8, 127]",59

In [8]:
recommendations = [1,2,3,4]

import ast

def convert_string_to_lists(string_lists):
    converted_lists = []
    for string_list in string_lists:
        converted_lists.append(ast.literal_eval(string_list))
    return converted_lists

def extract_actors(recommendations):
    genre_series = movies[movies['movieId'].isin(recommendations)]['actors']
    genre_list = [genre_series.iloc[i] for i in range(len(genre_series))]
    genre_list = convert_string_to_lists(genre_list)
    return genre_list

def extract_directors(recommendations):
    genre_series = movies[movies['movieId'].isin(recommendations)]['director']
    genre_list = [genre_series.iloc[i] for i in range(len(genre_series))]
    return genre_list


print(extract_genres(recommendations))
print(extract_directors(recommendations))

[[66], [23, 11], [179], [71, 79, 1]]
[62, 129, 164, 167]

In [ ]:
import ast

def convert_string_to_lists(string_lists):
    converted_lists = []
    for string_list in string_lists:
        converted_lists.append(ast.literal_eval(string_list))
    return converted_lists

def extract_actors(recommendations):
    genre_series = movies[movies['movieId'].isin(recommendations)]['actors']
    genre_list = [genre_series.iloc[i] for i in range(len(genre_series))]
    genre_list = convert_string_to_lists(genre_list)
    return genre_list

def extract_directors(recommendations):
    genre_series = movies[movies['movieId'].isin(recommendations)]['director']
    genre_list = [genre_series.iloc[i] for i in range(len(genre_series))]
    return genre_list

def jaccard_similarity(x,y): 
    x = set(x)
    y = set(y)
    int = x.intersection(y)
    union = x.union(y)
    return len(int)/len(union)

def actor_homogeneity(actor_lists):

    similarities = []

    for i in range(len(actor_lists)-1):
        for j in range(1,len(actor_lists)):
            similarities.append(jaccard_similarity(actor_lists[i],actor_lists[j]))

    return np.mean(np.array(similarities)) 

def director_homogeneity(director_ids):

    # Count occurrences of each director
    unique_directors = set(director_ids)
    total_directors = len(director_ids)

    
    # Method 1: Ratio of repeating directors
    repeat_ratio = 1 - (len(unique_directors) / total_directors)
    
    # Method 2: Proportion of most common director
    from collections import Counter
    most_common_count = Counter(director_ids).most_common(1)[0][1]
    dominant_ratio = most_common_count / total_directors
    
    return repeat_ratio


director_homogeneity(extract_directors(recommendations))

0.0